<%= stylesheet_link_tag "style" %>

<body class="body-qismi">

<div class="container">


<div class="nav-2">
  <%= link_to "New post", new_post_path, class: "btn mx-2"%>
  <%= link_to "Back", new_user_session_path, class: "btn" %>
</div>



<div class="malumot">

    
<h1 class="h1-1"> Your New Posts</h1>

<div class="col1">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class: "btn" %>
    </p><hr />  <br /> 
  <% end %>
</div>

</div>





</div>

</body>